<div class="dropdown-menu" (appClickOutside)="clickOutside()">
    <ng-container *ngIf="dropdownConfig; else logoutDropdown">
        <button (click)="toggleMenu()"
            class="dropdown-menu__button"
            type="button">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
        </button>  
        
        <!-- Dropdown menu -->
        <div  [ngClass]="showMenu ? '' : 'hidden'" class="dropdown-menu__lists">
            <ul class="dropdown-menu__wrapper">
                <li *ngFor="let config of dropdownConfig.config">
                    <a [routerLink]="config.routeLink" [state]="config.state"
                        class="dropdown-menu__link">{{config.name}}</a>
                </li>
            </ul>
        </div>
    </ng-container>
</div>

<ng-template #logoutDropdown>
    <button (click)="toggleMenu()" class="inline-block w-10 border-4 border-opacity-5 rounded-full overflow-hidden">
        <img [src]="user.image" alt="">
    </button>
    <div  [ngClass]="showMenu ? '' : 'hidden'" class="dropdown-menu__lists">
        <ul class="dropdown-menu__wrapper" *ngIf="user">
            <li>
                <span class="dropdown-menu__link">
                    <span class="block text-base font-semibold">{{user.name}}</span>
                    <span class="block text-sm font-light">{{"@"}}{{user.username}}</span>
                </span>
            </li>
        </ul>
        <div class="py-2">
            <button type="button" (click)="logout()"
                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Logout</button>
        </div>
    </div>
</ng-template>