<form #registerForm="ngForm" (ngSubmit)="register()" appComparePassword class="card register-form form">
    <div class="pb-4 font-bold text-xl">
        Create your account
    </div>
    <div class="form__group">
        <label for="name" class="form__label">
            Name
            <span class="text-red-600">*</span>
        </label>
        <input type="text" id="name" name="name" ngModel #name="ngModel" placeholder="Enter your name" required minlength="3" class="form__control">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form__validation-text">
            <span *ngIf="name.hasError('required')">
                Name is required.&nbsp;
            </span>
            <span *ngIf="name.hasError('minlength')">
                Name must be at least of 3 letters.&nbsp;
            </span>
        </div>
    </div>
    <div class="form__group">
        <label for="username" class="form__label">
            Username
            <span class="text-red-600">*</span>
        </label>
        <input type="text" id="username" name="username" #username="ngModel" ngModel placeholder="Enter your username" required minlength="5" class="form__control">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="form__validation-text">
            <span *ngIf="username.hasError('required')">
                Username is required.&nbsp;
            </span>
            <span *ngIf="name.hasError('minlength')">
                Username must be at least of 5 letters.&nbsp;
            </span>
        </div>
    </div>
    <div class="form__group">
        <label for="password" class="form__label">
            Password <span class="text-red-600">*</span>
        </label>
        <input type="password" id="password" name="password" ngModel #password="ngModel" class="form__control" placeholder="Enter your password" minlength="8" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form__validation-text">
            <span *ngIf="password.hasError('required')">
                Password is required.&nbsp;
            </span>
            <span *ngIf="password.hasError('minlength')">
                Password must be at least of 8 letters.&nbsp;
            </span>
        </div>
    </div>
    <div class="form__group">
        <label for="confirm-password" class="form__label">
            Confirm Password
            <span class="text-red-600">*</span>
        </label>
        <input type="password" id="confirm-password" class="form__control" name="confirmPassword" #confirmPassword="ngModel" ngModel minlength="8" placeholder="Enter your password" required>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="form__validation-text">
            <span *ngIf="confirmPassword.hasError('required')">
                Confirm Password is required.&nbsp;
            </span>
            <span *ngIf="confirmPassword.hasError('minlength')">
                Confirm Password must be at least of 8 letters.&nbsp;
            </span>
        </div>
        <div *ngIf="registerForm.hasError('comparePassword') && (registerForm.touched || registerForm.dirty) && (confirmPassword.dirty || confirmPassword.touched) && (password.dirty || password.touched)" class="form__validation-text">
            Password and confirm password not matched.
        </div>
    </div>
    <div class="pt-3">
        <button type="submit" class="button button--primary">Sign Up</button>
    </div>
</form>
