<header class="header">
    <div class="container header__wrapper">
        <h1 class="bg-black text-white font-bold text-xl font-sans">
            <a [routerLink]="'/'">
                S&lt;/&gt;A
            </a>
        </h1>
        <nav>
            <!-- <button [routerLink]="'home'">Home</button>
            <button [routerLink]="'articles'">Articles</button> -->
            <a [routerLink]="'articles'" class="button button--outline mr-3">Create post</a>
            <a [routerLink]="'login'" class="button mr-3">Login</a>
            <a [routerLink]="'register'" class="button button--outline">Create account</a>
        </nav>
    </div>
</header>
<div class="full h-[65px] block">

</div>