<header class="header">
    <div class="container header__wrapper">
        <h1 class="w-40">
            <a [routerLink]="routes.HOME">
                <img src="assets/self-dev-art.svg" alt="self dev art logo">
            </a>
        </h1>
        <nav class="flex items-center">
            <a [routerLink]="routes.CREATE_POST" class="button button--outline mr-3" *ngIf="isLoggedIn">Create post</a>
            <a [routerLink]="routes.LOGIN" class="button mr-3" *ngIf="!isLoggedIn">Login</a>
            <a [routerLink]="routes.REGISTER" class="button button--outline" *ngIf="!isLoggedIn">Create account</a>
            <app-dropdown-menu (onLogout)="logout()" *ngIf="isLoggedIn" [user]="userCredentials"></app-dropdown-menu>
        </nav>
    </div>
</header>
<div class="full h-[65px] block">

</div>