<div class="edit-post">
    <form *ngIf="crudAction !== publicCrudAction.DELETE" [formGroup]="editPostForm" (ngSubmit)="editPost()" class="card p-7 form">
        <div class="pb-4 font-bold text-xl">
            Edit the post
        </div>
        <div class="form__group">
            <label for="title" class="form__label">
                Title
                <span class="text-red-600">*</span>
            </label>
            <input type="text" id="title" name="title" formControlName="title" placeholder="Enter post title" class="form__control">
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="form__validation-text">
                <span *ngIf="title?.hasError('required')">
                    Title is required.&nbsp;
                </span>
                <span *ngIf="title?.hasError('minlength')">
                    Title must be at least of 3 letters.&nbsp;
                </span>
            </div>
        </div>
        <div class="form__group">
            <label for="author" class="form__label">
                Author
                <span class="text-red-600">*</span>
            </label>
            <input type="text" id="author" name="author" formControlName="author" placeholder="Enter post author" class="form__control">
            <div *ngIf="author?.invalid && (author?.dirty || author?.touched)" class="form__validation-text">
                <span *ngIf="author?.hasError('required')">
                    Author is required.&nbsp;
                </span>
                <span *ngIf="author?.hasError('minlength')">
                    Author must be at least of 3 letters.&nbsp;
                </span>
            </div>
        </div>
        <div class="form__group">
            <label for="link" class="form__label">
                Link
                <span class="text-red-600">*</span>
            </label>
            <input type="text" id="link" name="link" formControlName="link" placeholder="Enter post link" class="form__control">
            <div *ngIf="link?.invalid && (link?.dirty || link?.touched)" class="form__validation-text">
                <span *ngIf="link?.hasError('required')">
                    Link is required.&nbsp;
                </span>
            </div>
        </div>
        <div class="form__group">
            <label for="imageLink" class="form__label">
                Image Link
                <span class="text-red-600">*</span>
            </label>
            <input type="text" id="imageLink" name="imageLink" formControlName="imageLink" placeholder="Enter post Image Link" class="form__control">
            <div *ngIf="imageLink?.invalid && (imageLink?.dirty || imageLink?.touched)" class="form__validation-text">
                <span *ngIf="imageLink?.hasError('required')">
                    Image Link is required.&nbsp;
                </span>
            </div>
        </div>
        <div class="pt-3">
            <button type="submit" class="button button--primary" [ngClass]="isButtonDisabled ? 'cursor-not-allowed': ''" [disabled]="isButtonDisabled">Edit post</button>
        </div>
    </form>
    
    <div *ngIf="crudAction === publicCrudAction.DELETE" class="card p-7 text-center">
        <h3 class="font-bold text-lg">
            Are you sure do you want to delete the post?
        </h3>

        <div class="mt-5">
            <button type="button" class="button button--outline mr-3" (click)="back()">Back</button>
            <button type="button" class="button button--danger" (click)="deletePost()" [ngClass]="isButtonDisabled ? 'cursor-not-allowed': ''" [disabled]="isButtonDisabled">Delete</button>
        </div>
    </div>
</div>


