<div class="max-w-2xl mx-auto">
    <div class="card mb-5">
        <figure class="overflow-hidden rounded-t-lg">
            <img src="https://media.dev.to/cdn-cgi/image/width=775%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fp6srlcj45cz03yh4pwa2.png" alt="">
        </figure>

        <div class="p-5">
            <h3 class="font-bold text-3xl">
                Bring home the gold! 🥇
            </h3>
        </div>
    </div>

    <!-- <article class="card mb-5 overflow-hidden relative cursor-pointer" (click)="routeTo()"> -->
    
    <app-article *ngFor="let article of articles" [article]="article"></app-article>

    <div class="card p-6">
        <h2 class="font-bold text-4xl mb-2">Join the Self-Dev-Art Community!</h2>
        <h3 class="font-bold text-2xl mb-6">Self-Dev-Art is Community of positive people spreading positivity!</h3>
        <p class="font-light text-xl mb-8">
            We're a place where positive people share there love self development article which have help them and spreading the positivity to the world!!! With concept of change start from you!!! ❤️❤️❤️❤️❤️
        </p>
        <div class="text-center">
            <button class="button button--outline mr-2" routerLink="/register">Create account</button>
            <button class="button" routerLink="/login">Log in</button>
        </div>
    </div>
</div>
