
<article class="card mb-5 relative cursor-pointer">
    <figure class="overflow-hidden rounded-t-lg">
        <!-- <img src="https://media.dev.to/cdn-cgi/image/width=775%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fp6srlcj45cz03yh4pwa2.png" alt=""> -->
        <img src="https://images.unsplash.com/photo-1539768942893-daf53e448371?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </figure>

    <div class="p-5">
        <h5 class="font-bold text-sm">
            Jesse Williams's
        </h5>
        <h3 class="font-bold text-3xl mb-3">
            <a routerLink="/register" id="link-1">Bring home the gold! 🥇</a>
        </h3>
        <a href="#comments" class="hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-light rounded-lg text-sm p-2 text-center inline-flex items-center">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="crayons-icon"><path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path></svg>
            0<span class="hidden sm:inline-block">&nbsp;Comments</span> Add comment
        </a>
        <div id="comments">
            <h3 class="font-bold text-2xl mb-6">Comments</h3>
            <app-add-comment></app-add-comment>
            <app-display-comment></app-display-comment>               
        </div>
    </div>
</article>